
div > form{
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
div > header{
  background: #FF3838;
  padding: 15px 15px;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}
nav{
  width: 100%;
  background: #FF3838;
}
nav > ul{
  margin:0px;
  padding:0px;
}
nav > ul > li{
  float: left;
  position: relative;
}
nav > ul > .boutondroite{
  float:right;
}
nav > ul > li > a{
  padding:20px 30px;
  color: #FFF;
}
nav li{
  list-style-type: none;
}
nav >ul::after{
  content: "";
  display : block;
  clear : both;
}
nav a{
  display: inline-block;
  text-decoration: none;
}
.submenu{
  display:none;
  width: 100%;
}

nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
  background: #FF3838;
  opacity: 0.7;
}

.submenu li{
  border-bottom: 1px solid #CCC;
}
.submenu li a{
  padding: 15px 30px;
  font-size: 13px;
  color:#222538;
  width: 270px;
}


  body{
margin: 0;
padding: 0 3em;
background: #b2b4b7;
font: message-box;
justify-content: center;
align-items: center;
  }
a {
  color:white;
}



form {
  background: white;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  font-family: lato;
  position: relative;
  color: #333;
  border-radius: 10px;
}
form header {
  background: #FF3838;
  padding: 30px 20px;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}
form label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
  color: #FF3838;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;

}
form label span {
  color: #FF3838;
  font-size: 2em;
  position: absolute;
  left: 2.3em;
  top: -10px;
}
form input {
  display: block;
  width: 78%;
  margin-left: 20px;
  padding: 5px 20px;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
}
form .help {
  margin-left: 20px;
  font-size: 0.8em;
  color: #777;
}
form button {
  width:20%;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: inherit;
  color: white;
  background: #FF3838;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
form button:hover {
  background: #ff5252;
}
.divMenu{
  background: white;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  font-family: lato;
  position: relative;
  color: #333;
  border-radius: 10px;
  padding-bottom: 10px;
}
.divMenu > p{
  padding-left: 10px;
  padding-right: 10px;
}
.formMenu{
  width:49.9%;
  display: inline-block;
}
.formMenu > button{
  margin-top:0px;
  margin-bottom: 0px;
}
.buttonMenu{
  width: 80%;
}
.headernouvelle{
  padding: 1px;
  margin: 0px;
  border-radius: 10px 10px 0px 0px;
  font-size:1.5em;
}
.headernouvelle > a{
  display: inline-block;
}
.headernouvelle > p{
  display: inline-block;
  border-radius: 10px;
}
#conteneur {
padding:10px;
}
#conteneur > .element {
  font-size: 1.3em;
}
.divRecherche > form {
  padding-top : 20px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px;
  padding-bottom: 0px;
}
.divRecherche > form > input {
  width: 50%;
  text-align: center;
  margin: auto;
}
.divRecherche > form > button {
  margin-top: 10px;
  margin-bottom:10px;
  width: 30%;
  text-align: center;
}
.divRecherche > header {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px;
}
.divRecherche{
  width: 50%;
  align-items: center;
  margin: auto;
}
